/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
public/mix-manifest.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/images
public/assets
public/uploads
public/css
public/js
public/assets/css/third-party.css
public/assets/css/pages.css
public/assets/js/custom/helper.js
public/js/pages.js
public/js/third-party.js
