

@import "../scss/variables.scss";

.categories-section {
    .categories-slider-section {
        .caregories-details {
            .card {
                min-width: 344px;
                width: 344px !important;
                .card-button {
                    .card-btn {
                        padding:12px 90px;
                    }
                }
            }
        }
    }
} 