
//colors
$blue: #0697FF !default;
$blue-800: #0D1C51!default;
$dark: #001047!default;
$white: #ffffff !default;


//theme color variable
$primary: $blue !default;
$secondary: $blue-800 !default;
$gray-100:#B2B7C8 !default;
$blue-100: #263362 !default;
$gray-200 : #737D9F !default;
$blue-200:#1A285A !default;
$blue-300:#404D7C !default;
$blue-400:#334173 !default;

// border-radius-variables
$border-radius:                     0.625rem !default;
$border-radius-lg:                  1.25rem !default;

// buttons

$btn-focus-box-shadow:              0 !default;

